.create-book-container {
    margin-top: 50px;
}

.create-book-paper {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-book-paper h4 {
    font-weight: bold;
}

button[disabled] {
    cursor: not-allowed;
}