.book-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.book-card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 0.5rem 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    color: #007bff;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-link:hover {
    background-color: #f1f1f1;
}