.login-container {
  background: #f0f2f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-paper {
  padding: 24px;
  max-width: 400px;
  width: 100%;
}

.login-title {
  margin-bottom: 24px;
}

.login-error {
  margin-top: 16px;
}